<article class="row mt-3">
  <section class="col-md-6 mx-auto text-center">
    <section class="card">
      <section class="card-body">
        <h1>Registrarme</h1>
        <hr>
        <form [formGroup]="registerForm" (submit)="registerUser()">
          <section class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" formControlName="email">
          </section>
          <section *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email }}
          </section>

          <section class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" formControlName="password">
          </section>
          <section *ngIf="formErrors.password" class="text-danger">
              {{ formErrors.password }}
            </section>

          <button class="btn btn-info btn-block btn-lg" [disabled]="!registerForm.valid">
            <i class="fa fa-key"></i> Crear Cuenta
          </button>
        </form>
      </section>
    </section>
  </section>
</article>
