<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/">Facebook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <article class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" routerLink="/wall">Muro</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="logoutUser()">Cerrar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Iniciar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarme</a>
      </li>
    </ul>
  </article>
</nav>
