<article class="row mt-3">
  <section class="col-md-10 mx-auto text-center">
    <section class="card">
      <section class="card-body">

        <form>
          <section class="form-group">
            <textarea class="form-control" rows="3" placeholder="¿Qué esta pasando?" [(ngModel)]="titlePost" [ngModelOptions]="{standalone: true}"></textarea>
          </section>
          <section class="row mt-3 mb-3">
            <section class="col-md-4">
              <section class="form-group">
                <select class="form-control" [(ngModel)]="targetPost" [ngModelOptions]="{standalone: true}">
                  <option value="friends">Amigos</option>
                  <option value="public">Público</option>
                </select>
              </section>
            </section>
            <section class="col-md-4">
              <button type="button" class="btn btn-outline-info" (click)="newPost()">
                <i class="fa fa-bullhorn"></i> Publicar
              </button>
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-image"></i> Subir Imagen
              </button>
            </section>
            <section class="col-md-4">
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-user"></i> Amigos
              </button>
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-bullhorn"></i> Público
              </button>
            </section>
          </section>
        </form>

        <section class="container">
          <section class="card mb-3" *ngFor="let item of postsListArray">
            <section class="card-body">
              <h4 class="card-title">{{ item.title }}</h4>
              <label class="text-muted">{{ item.target }}</label>
              &nbsp;&nbsp; | &nbsp;&nbsp;
              <a class="card-link" (click)="editPost(item.$key)">
                <i class="fa fa-pencil"></i> Editar
              </a>
              <a class="card-link" (click)="removePost(item.$key)">
                <i class="fa fa-trash"></i> Eliminar
              </a>
            </section>
          </section>
        </section>

      </section>
    </section>
  </section>
</article>
