<article class="row mt-3">
  <section class="col-md-10 mx-auto text-center">
    <section class="card">
      <section class="card-body">

        <form>
          <section class="form-group">
            <textarea class="form-control" rows="3" placeholder="¿Qué esta pasando?"></textarea>
          </section>
          <section class="row mt-3 mb-3">
            <section class="col-md-6">
              <section class="form-group">
                <select class="form-control" id="publish">
                  <option>Amigos</option>
                  <option>Público</option>
                </select>
              </section>
            </section>
            <section class="col-md-6">
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-bullhorn"></i> Publicar
              </button>
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-image"></i> Subir Imagen
              </button>
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-user"></i> Amigos
              </button>
              <button type="button" class="btn btn-outline-info">
                <i class="fa fa-bullhorn"></i> Público
              </button>
            </section>
          </section>
        </form>

        <section class="container">
          <section class="card mb-3">
            <section class="card-body">
              <h4 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, non saepe? Et minima in ut ipsa quia pariatur laboriosam inventore. Maiores id, libero assumenda repellendus unde praesentium pariatur ab voluptas.</h4>
              <a href="#" class="card-link">
                <i class="fa fa-pencil"></i> Editar
              </a>
              <a href="#" class="card-link">
                <i class="fa fa-trash"></i> Eliminar
              </a>
            </section>
          </section>
          <section class="card mb-3">
            <section class="card-body">
              <h4 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, non saepe? Et minima in ut ipsa quia pariatur laboriosam inventore. Maiores id, libero assumenda repellendus unde praesentium pariatur ab voluptas.</h4>
              <a href="#" class="card-link">
                <i class="fa fa-pencil"></i> Editar
              </a>
              <a href="#" class="card-link">
                <i class="fa fa-trash"></i> Eliminar
              </a>
            </section>
          </section>
          <section class="card mb-3">
            <section class="card-body">
              <h4 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, non saepe? Et minima in ut ipsa quia pariatur laboriosam inventore. Maiores id, libero assumenda repellendus unde praesentium pariatur ab voluptas.</h4>
              <a href="#" class="card-link">
                <i class="fa fa-pencil"></i> Editar
              </a>
              <a href="#" class="card-link">
                <i class="fa fa-trash"></i> Eliminar
              </a>
            </section>
          </section>
        </section>

      </section>
    </section>
  </section>
</article>
