/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin-top: 10px;
}

.bg-dark {
  background-color: #3f5d9a !important;
  border-style: none;
}
